body {
  border-top: 4px solid rgb(34, 92, 235);
  border-bottom: 4px solid rgb(34, 92, 235);
  padding: 0;
  margin: 0;
}

#header {
  padding: 15px 0px 15px 46px;
  border-bottom: 1px solid #eee;
  margin-bottom: 35px;
  background: rgba(34, 92, 235, 0.04);
}

#header .logo {
  display: inline-block;
  height: 28px;
  vertical-align: middle;
}

#header .logo img {
  height: 28px;
}

#header h2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  color: #333;
  font-size: 16px;
}

#header h2 span {
  color: rgba(34, 92, 235, 0.9)
}

#buttons {
  margin: 0 46px 26px 46px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

button {
  border: 1px solid rgb(34, 92, 235);
  border-radius: 4px;
  color: rgb(34, 92, 235);
  background: #fff;
  cursor: pointer;
  font-size: 14px;
  line-height: 32px;
  width: 256px;
  margin: 12px 0 18px 0;
}

button:hover {
  color: #fff;
  background: rgb(34, 92, 235);
}

label {
  color: rgb(34, 92, 235);
  font-size: 14px;
  line-height: 32px;
  width: 256px;
  margin: 12px 0 18px 0;
}

.hr {
  margin: 15px 0 10px 0;
  border-top: 1px solid rgb(34, 92, 235);
}

checkbox,
label {
  cursor: pointer;
}