.timetackle_page-container {
	position: relative;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
}

#timetackle_sidepanel {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	font-family: $primary-font;
	z-index: 999;
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	background: white;

	.btn {
		padding: 10px 0px;
		display: block;
		margin: 5px 0px;
		border-radius: 3px;
	}

	.btn-filled {
		background: #215ceb;
		color: #fff;
		width: 100%;
	}

	button.btn-filled {
		border: none;
		padding: 12px;
		cursor: pointer;
	}

	.btn-outlined {
		color: #215ceb;
		border: 1px solid #215ceb;
	}
}
