#timetackle_container {
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	background: white;
	// width: 540px;
	// padding: 10px 40px 0 20px;
}

#timetackle_container > h2 {
	margin-top: 10px;
	font-size: 18px;
	font-weight: 100;
}

#timetackle_container h3 {
	padding-top: 15px;
	margin-top: 25px;
	color: #444;
	font-size: 15px;
	font-weight: 100;
}

#timetackle_container div#addTagsContainer {
	padding: 0px 15px 15px 15px;
	background: #f1f3f4;
	margin-top: 28px;
	border-top: 1px solid #4285f4;
}

#timetackle_container div#addTagsContainer.hidden {
	display: none;
}

div#addTagsContainer h3 {
	color: #666;
	font-size: 13px;
}

#timetackle_container > #addTagsContainer div,
#timetackle_container > #addedTagsContainer div {
	padding: 5px 0;
}

#timetackle_container form.addedRow {
	display: flex;
	align-items: center;
}

#timetackle_container #addTagsContainer form {
	display: flex;
	align-items: center;
}

#timetackle_container form.addedRow > input:disabled {
	color: #222;
}

#timetackle_container form > select {
	width: 90px;
	height: 36px;
	padding: 5px;
	/*line-height: 30px;*/
}

#timetackle_container form > input {
	width: 75px;
	height: 26px;
	padding: 5px 10px;
}

#timetackle_container form > select,
#timetackle_container form > input {
	font-size: 13px;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	border-radius: 4px;
	border: 1px solid #225ceb;
	margin-right: 10px;
}

#timetackle_container form.addedRow > input {
	border: 0px;
	background: #f1f3f4;
	margin-right: 10px;
	font-size: 14px;
}

#timetackle_container form > button {
	width: 24px;
	height: 24px;
	border: none;
	cursor: pointer;
}

#timetackle_container form > button.trash {
	width: 20px;
	height: 20px;
	background: transparent;
}

#timetackle_container > button {
	width: 236px;
	height: 50px;
	margin: 35px 0;
	padding: 12px 40px;
	background: #225ceb;
	border: 1px solid #225ceb;
	font-weight: bold;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
}

#timetackle_container > .warnMsg {
	font-size: 14px;
	margin: 10px 0;
	padding: 4px 0;
	border: 1px solid #e18e41;
	background-color: #fff1e3;
	border-radius: 4px;
	width: 80%;
	text-align: center;
	color: #51555b;
}

#timetackle_container > #noTagMsg {
	margin-bottom: 40px;
}

#timetackle_container > #noTagMsg p > a {
	color: #225ceb;
	text-decoration: underline;
}

#timetackle_container > #noTagMsg p > a:hover {
	color: #1241b8;
}

#timetackle_container > #addTagMsg p > img {
	top: 5px;
	position: relative;
}

#timetackle_container > .whiteSpace {
	padding: 50px 0;
}
